*{
    font-family:"Roboto Medium", sans-serif;
}

html, body{
    scroll-behavior: smooth;
    max-width: 100vw;
    overflow-x: hidden;
}

p{
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 600;
}

a{
    text-decoration: none;
    /*color: inherit;*/
}
a, a:visited{
    color: inherit;
}