:root{
    --main-color: hsl(220, 80%, 17%);
}
/* MAIN CONTAINER*/
.container{
    max-width: 100vw;
    overflow-x: hidden;
}
/* HEADER SECTION */
.header{
    max-width: 100%;
    width: 100%;
    padding: 15px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px var(--main-color);
}
.main-title h2{
    font-size: 2.5em;
    color: var(--main-color);
}
.navbar{
    display: flex;
    align-items: center;
}
.navbar > *{
    margin-right: 18px;
}
.navbar-nav {
    display: flex;
    align-items: center;
}
.navbar-nav .nav-item{
    margin-right: 18px;
    font-size: 1.2em;
}
.nav-item > a{
    color: inherit;
}
.nav-item > a:hover{
    border-bottom: 2px solid black;
    padding-bottom: 3px;
}

.registration  {
    display: flex;
    align-items: center;
    margin-left: 25px;
}
.registration > .registration-link{
    margin-right: 15px;
    font-size: 1.2em;
}

a.signup{
    text-decoration: underline;
    color: var(--main-color);
}
a.login{
    padding: 7px 16px;
    color: white;
    background-color: var(--main-color);
    border-radius: 8px;
}
a.login:hover{
    border: 2px solid var(--main-color);
    padding: 5px 14px;
    background-color: white;
    color: var(--main-color);
}

/* MAIN SECTION */
.main-content {
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 25px;
}

.main-content > article{
    margin-left: 2rem;
    padding: 1rem 0;
}

.title-container{
    margin-bottom: 1rem;
}
.title-container h2 {
    color: var(--main-color);
    font-size: 1.5em;
}

/* course */
.courses-container{
    margin-top: 15px;
}

.course{
    max-width: 100%;
    margin-bottom: 15px;
    box-shadow: 0 0 8px hsl(0, 0%, 10%);
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}

.course img.video-lecture{
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-45%, -45%);
    width: 70px;
    height: auto;
    transition: 0.35s ease-in-out;
}

.course img.video-lecture:hover{
    width: 80px;
}

.course img.course-video{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.course > .course-description{
    padding: 5px 15px;
}

.course-description h3{
    font-size: 1.2em;
    margin-bottom: 10px;
    color: var(--main-color);
}
.course-description div{
    display: flex;
    align-items: center;
}

.course-description div > *{
    margin-right: 30px;
    font-size: 1em;
}
.course-description div > a{
    color: var(--main-color);
    text-decoration: underline;
}

/* ASIDE SECTION */
aside {
    padding: 1rem 0;
}
aside > div{
    margin-bottom: 1rem;
}

.popular-courses{
    padding: 5px;
}
.popular-courses h4{
    font-size: 1.3em;
    margin-bottom: 20px;
    color: var(--main-color);
}
.popular-courses-list > div{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.popular-courses-list > div > p{
    margin-left: 20px;
}

.offers h4{
    font-size: 1.2em;
    color: orangered;
    margin-bottom: 10px;
    border-bottom: 1px solid orangered;
    width: max-content;
}
.offered-courses-list li{
    margin-bottom: 15px;
    position: relative;
    margin-left: 10px;
}

.offered-courses-list li::before{
    content: "*";
    display: inline-block;
    margin-right: 5px;
    font-size: 2rem;
    font-weight: 600;
    transform: translateY(10px);
}

/* FOOTER SECTION */
footer{
    background-color: var(--main-color);
    color: white;
    padding: 25px;
}
.footer-container{
    max-width: 70%;
    margin-inline: auto;
    display: flex;
    gap: 30px;
}

.footer-item:nth-child(1) > *{
    margin-bottom: 40px;
}
.about-website h3{
    font-size: 1.5rem;
    line-height: 2;
}
.footer-item-description p{
    line-height: 1.6;
}
.follow-us{
    display: flex;
    align-items: center;
}
.follow-us span{
    margin-right: 25px;
}

.footer-item:nth-child(2) > h4{
    text-transform: uppercase;
    margin-bottom: 20px;
}
.feature-links-list > li{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.feature-links-item img{
    width: 20px;
}

.feature-links-item > span:nth-child(2){
    display: inline-block;
    margin-left: 10px;
}

/* Copyright */
.copyright{
    padding: 15px;
    background-color: hsl(0, 0%, 15%);
    color: white;
}
.copyright-content{
    max-width: 70%;
    margin-inline: auto;
    padding-left: 10px;
}